#f {
    color: darkolivegreen;
    font-size: 2em;
    text-align: left;
    line-break: 2px;
    box-shadow: wheat;
  }
  #Pro{
    font-size: 14px;
  }
  .Pro1{
    font-size: 30px;
  }
  label{
    display: block;
  }